
/*=================================
General Styling
=================================*/
body {
  max-width: 800px;
  color: rgba(255,255,255,.7);
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(5, 11, 56, 1);  /*navy blue*/
  font-size: 1em;
}

h2 {
 font-family: 'Oswald', sans-serif;
 color: rgba(255,255,255,.7); /* white text*/
 color: rgba(245, 208, 200,.7); /*dusty pink text*/
 text-transform: uppercase;
 font-size: 3em;
 letter-spacing: -.3vw;
}

.contentblock {
  padding-top: 3.5em;
}

hr {
  display: block;
  background-color: rgba(213, 11, 84, .9); /*bright pink*/
  background-color: rgba(245, 208, 200,.5); /*dusty pink*/
  height: 1px;
  border: 0;
  /*border-top: 1px solid #ccc;*/
  /*margin: 1em 0;*/
  margin-bottom: -4px;
}

/*=================================
Navigation
=================================*/
/*#nav {
  margin: 1px solid rgba(245, 208, 200,.8);
}*/

#nav ul {
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  list-style: none;
  position: fixed;
  right: 5%;
  top: 5%;
}

#nav a {
  color: rgba(216, 63, 30, .8); /*red*/
  color: rgba(241, 216, 9, .8); /*yellow*/
  color: rgba(213, 11, 84, .9); /*bright pink*/
  color: rgba(255,255,255,.7); /*white*/
}

#nav a:hover {
  color: rgba(213, 11, 84, .9); /*bright pink*/
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
#hamburger-icon {
    display: none;
}

/*=================================
Header & Statement
=================================*/
#header-statement {
  margin-top: 3em;
  margin-bottom: 3em;
}

/*SARAH PHILLIPS*/
h1 {
  font-family: 'Oswald', sans-serif;
  color: rgba(255,255,255,.7);
  -webkit-text-fill-color: rgba(255,255,255,.7); /*so transparency works on safari*/
  font-style: italic;
  font-size: 7.5em;
  font-weight: 700;
  /*letter-spacing: -25px;*/
  letter-spacing: -.07em;
  text-transform: uppercase;
  /*text-transform: lowercase;*/
  line-height: 70%;
  text-align: right; /*not working*/
  visibility: visible;

}

#statement {
  font-size: 1.5em;
  margin-left: .5em;
  /*width: 70%;*/
  color: rgba(0,0,0,.9); /*dark font*/
  color: rgba(255,255,255,.8); /*light font*/
  color: rgba(245, 208, 200,.8); /*dusty pink font*/
  font-family: 'Crimson Text', serif;
}

/*=================================
PROJECTS (cards)
=================================*/
/*project card titles*/
.card {
border: none;
}


h3 {
 font-family: 'Oswald', sans-serif;
 color: rgba(255,255,255,.7);
 color: rgba(5, 11, 56, .8);
 color: rgba(5, 11, 56, .9);
 text-transform: uppercase;
 font-size: 1.4em;
 /*letter-spacing: -.2em;*/
 font-weight: 700;
}

.card-text, .project-tech {
  color: rgba(5, 11, 56, .8);
  font-size: .9em;
}

.button {
  /*background-color: #1c98e5;*/
  background-color: rgba(5, 11, 56, .9); /*dark blue*/
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 20px;*/
  /*margin: 10px 0px 20px 0px;*/
  margin-right: 10px;
  cursor: pointer;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover, .visit-site:hover {
  background-color: rgba(213, 11, 84, .9); /*bright pink*/
  text-decoration: none;
}

.github-logo a {
  /*margin-top: 5px;*/
  color: rgba(5, 11, 56, .8);
  font-size: 2em;
}

.github-logo a:hover {
  color: rgba(213, 11, 84, .9); /*bright pink*/
}
/*=================================
ABOUT
=================================*/
.about-columns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

/*=================================
SKILLS
=================================*/
.skills ul {
  list-style: none;
  padding-left: 0;
}

/*=================================
CONTACT
=================================*/
#contact {
  padding-bottom: 3em;
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

#contact a {
  color: rgba(255,255,255,.7);
}

#contact a:hover {
  color: rgba(213, 11, 84, .9); /*bright pink*/
  text-decoration: none;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Very Small devices (350px and smaller) media query*/
@media (max-width: 350px) {
/*SARAH PHILLIPS*/
    body {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    font-size: 5em;
    line-height: 70%;
    text-align: left;
  }
}

/*Small & Medium devices (768px and smaller) media query*/
@media (max-width: 768px) {

  /*=================================
  General Styling
  =================================*/
  body {
    width: 95%;
    margin: 0 auto;
    padding: 0;

  }

  h2 {
   font-size: 8vw;
  }

  .contentblock {
    padding-top: 1.5em;
  }

  hr {
    margin-bottom: 5px;
  }


  #nav a {
    display: none;
  }



  /*=================================
  Header & Statement
  =================================*/
  #header-statement {
    margin-bottom: 0em;
  }

  /*SARAH PHILLIPS*/
  h1 {
    font-size: 7em;
    line-height: 70%;
    text-align: left;
  }

  #statement {
    padding-top: 1em;
    margin-bottom: 0em;
    font-size: 1.5em;
    margin-left: .5em;
    line-height: 1.1em;
  }

  /*=================================
  ABOUT
  =================================*/
  /*Getting rid of two columns for small screens*/
  .about-columns{
      -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
              column-gap: 0px;
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
  }




}


