/*=================================
General Styling
=================================*/
body {
  /*max-width: 800px;*/
  max-width: 50rem;
  color: rgba(255,255,255,.7); /*white*/
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(5, 11, 56, 1);  /*navy blue*/
  font-size: 1em;
}

/*Section Headers*/
h2 {
 font-family: 'Oswald', sans-serif;
 font-weight: 400;
 color: rgba(245, 208, 200,.8); /*dusty pink text*/
 text-transform: uppercase;
 font-size: 3em;
 letter-spacing: -.3vw;
}

/*All sections get some breathing room on top*/
.contentblock {
  padding-top: 3.4em;
}

/*All section headers have a pink line on top*/
hr {
  display: block;
  background-color: rgba(245, 208, 200,.5); /*dusty pink*/
  height: 1px;
  border: 0;
  margin-bottom: -4px;
}

/*=================================
Links
=================================*/
a {
  position: relative;
  text-decoration: none; /* This removes the default underline */
  color: rgba(255,255,255,.7); /* This changes the default color */
}

/* if you want to syle the nav items on hover, do it here */
a:hover {
  text-decoration: none; /* This removes the default underline */
  color: rgba(255,255,255,.7); /* This changes the default color */
}

/* The underline animation */
/* READ MORE: https://css-tricks.com/almanac/selectors/a/after-and-before/ */
a:before {
  content: ""; /* If you put a string here, it will show up */
  position: absolute;
  left: 0; /* the position of the line */
  width: 100%; /* width of the line */
  height: 2px;  /* thickness of the line */
  bottom: -2px;   /*the space between the text and the line*/
  background-color: rgba(213, 11, 84, .9); /*color:pink underline*/
  visibility: hidden; /* by default the underline is hidden*/

/*   The scaleX() CSS function defines a transformation that resizes an element along the x-axis (horizontally).
  Its result is a <transform-function> data type. */
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s; /*how fast the animation is*/
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1); /* width of the line. 1 = 100% */
  transform: scaleX(1); /* width of the line. 1 = 100% */
}



/*=================================
Navigation
=================================*/
#navbarNav ul {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  list-style: none;
  position: fixed;
  right: 3%;
  top: 5%;
}

.navbar-toggler {
  margin-left: -10px;
  margin-top: 12px;
  color: rgba(245, 208, 200, 1);
  border: 3px solid white;
}

/*=================================
Header
=================================*/
#header-statement {
  margin-top: 3em;
  margin-bottom: 2em;
}

/*SARAH PHILLIPS*/
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 7.5rem;
  font-weight: 500;
  color: rgba(255,255,255,.7);
  -webkit-text-fill-color: rgba(255,255,255,.7); /*so transparency works on safari*/
  font-style: italic;
  letter-spacing: -.07em;
  text-transform: uppercase;
  line-height: 70%;
  text-align: right;
  -webkit-transition: all 0.4s ease-in; /*for a smooth mouse away effect*/
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: sticky;
  top: 15px;
}

h1:hover {
  cursor: pointer;
  color: rgba(255,255,255,.1);
  /*line-height: 64%;*/
  opacity: .8;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sticky {
  /*Trying to get the header to be sticky*/
  /* Not currenly using */
  position: sticky;
  top: 15px;
}

/*=================================
Statement
=================================*/
#statement {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  margin-left: 3rem;
  color: rgba(245, 208, 200,.8); /*dusty pink*/
  z-index: -1;
}

#highlight {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#highlight:hover {
  cursor: pointer;
  color: rgba(213, 11, 84, .9);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/*=================================
PROJECTS (cards)
=================================*/
.card {
  border: none;
}

/*Smaller screens, pop to 2 columns*/
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

/*Medium screens, pop to 2 columns*/
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}


/* project card titles */
h3 {
 font-family: 'Oswald', sans-serif;
 color: rgba(5, 11, 56, .9); /*navy blue*/
 text-transform: uppercase;
 font-size: 1.4em;
 font-weight: 500;
}

a.title-link {
  color: rgba(5, 11, 56, .9); /*navy blue*/
}

.card-text, .project-tech {
  color: rgba(5, 11, 56, .8);
  font-size: .9em;
}

/* visit site button*/
.button {
  background-color: rgba(5, 11, 56, .9); /*navy blue*/
  border-radius: 6px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover, .visit-site:hover {
  background-color: rgba(213, 11, 84, .9); /*bright pink*/
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*TODO: drop it down a few px*/
.github-logo a {
  color: rgba(5, 11, 56, .9); /*navy blue*/
  font-size: 1.9em;
}

.github-logo a:hover {
  color: rgba(213, 11, 84, .9); /*bright pink*/
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*=================================
ABOUT
=================================*/
/* 2 columns with big screens, 1 with small (see media query)*/
.about-columns {
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#skills ul {
  list-style: none; /* removes bullet points */
  padding-left: 0; /* removes space where bullet points used to be */
}

.skills-list {
  column-count: 4;
}

#contact {
  padding-bottom: 3em;
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

#contact a {
  color: rgba(255,255,255,.7); /* white */
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*=================================*/
/*Large devices (900px and smaller) media query*/
/*=================================*/
@media (max-width: 900px) {
  #navbarNav ul {
    position: static; /*so the navigation doesn't interfere with content*/
  }
}



/*=================================*/
/*Small & Medium devices (768px and smaller) media query*/
/*=================================*/
@media (max-width: 768px) {

  body {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    font-size: 110%;
  }

  /*SARAH PHILLIPS*/
  h1 {
    font-size: 5em;
    line-height: 70%;
    text-align: left;
    opacity: .7; /*to make header transluscent on mobile*/
  }

  h2 {
   font-size: 8vw;
  }

  .contentblock {
    padding-top: 1.5em;
  }

  hr {
    margin-bottom: 5px;
  }


  #header-statement {
    margin-bottom: -2em;
  }

  #statement {
    padding-top: 1em;
    margin-bottom: 0em;
    font-size: 1.3em;
    margin-left: .2em;
    line-height: 1.1em;
  }

  /*Getting rid of two columns for small screens*/
  .about-columns{
      -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
              column-gap: 0px;
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
  }

  .skills-list {
    column-count: 3;
  }

}



/*=================================*/
/*Very Small devices (500px and smaller) media query*/
/*=================================*/
@media (max-width: 500px) {
/*SARAH PHILLIPS*/
    body {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    font-size: 4em;
    line-height: 70%;
    text-align: left;
    opacity: .7; /*to make header transluscent on mobile*/
  }

  #statement {
    font-size: 1.2em;
  }

  .skills-list {
    column-count: 1;
  }


}








